<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8" name="viewport" content="initial-scale=1">
    <title>ニュース News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body style="background-color: #EDF7FF">
    <!--ナビゲーションバーの部分-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'index' %}">PCC</a>
    </nav>

    <div class="container">
        <p class="display-4 text-primary text-center">News</p>

        <table class="table table-bordered bg-light">
            <tr>
                <th scope="col">日付</th>
                <th scope="col">内容</th>
            </tr>
            {% for item in topics %}
            <tr>
                <td style="width: 35%">{{ item.date }}</td>
                <td>{{ item.desc }}</td>
            </tr>
            {% endfor %}
        </table>

        <p class="text-center">
            <a href="{% url 'index' %}">前のページへ戻る</a>
        </p>
    </div>

    <!--JSファイル群-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>