<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8" name="viewport" content="initial-scale=1">
    <title>プログラミング</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body style="background-color: #EDF7FF">
    <!--ナビゲーションバーの部分-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">PCC</a>
    </nav>

    <div class="container">
        <p class="display-4 text-primary text-center">{{ title }}</p>

        <!--タブ部分-->
        <ul class="nav nav-pills nav-justified mb-4 bg-light rounded" id="pills-tab" role="tablist">
            {% for item in tab_list %}
            <li class="nav-item">
                {% if item.num == 1 %}
                <a class="nav-link active" id="pills-{{ item.id }}-tab" data-toggle="pill" href="#pills-{{ item.id }}"
                    role="tab" aria-controls="pills-{{ item.id }}" aria-selected="true">{{ item.num }}</a>
                {% else %}
                <a class="nav-link" id="pills-{{ item.id }}-tab" data-toggle="pill" href="#pills-{{ item.id }}"
                    role="tab" aria-controls="pills-{{ item.id }}" aria-selected="false">{{ item.num }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <!--タブと関連した内容の表示-->
        <div class="tab-content" id="pills-tabContent">
            {% for item in tab_list %}
            {% if item.num == 1 %}
            <div class="tab-pane fade show active" id="pills-{{ item.id }}" role="tabpanel"
                aria-labelledby="pills-{{ item.id }}-tab">
                <div class="p-3 bg-light">
                    <!--タイトル部分-->
                    <p class="h2 text-center">{{ item.title }}</p>

                    <!--スライド部分-->
                    <div class="embed-responsive embed-responsive-16by9">
                        {% if item.web_site != "#" %}
                        <iframe src="{{ item.url }}" frameborder="0" allowfullscreen="true"
                            mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        {% endif %}
                    </div>
                </div>

                {% if user.is_superuser %}
                <!--編集リンク-->
                <p class="text-center m-2">
                    <a class="btn btn-success" href="{% url 'edit' item.id %}">データ編集</a>
                </p>
                {% endif %}
            </div>

            {% else %}
            <div class="tab-pane fade" id="pills-{{ item.id }}" role="tabpanel"
                aria-labelledby="pills-{{ item.id }}-tab">
                <div class="p-3 bg-light">
                    <p class="h2 text-center">{{ item.title }}</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        {% if item.web_site != "#" %}
                        <iframe src="{{ item.url }}" frameborder="0" allowfullscreen="true"
                            mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        {% endif %}
                    </div>
                </div>
                {% if user.is_superuser %}
                <!--編集リンク-->
                <p class="text-center m-2">
                    <a class="btn btn-success" href="{% url 'edit' item.id %}">データ編集</a>
                </p>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <p class="text-center">
            <a href="{% url 'index' %}">TOPへ戻る</a>
        </p>
    </div>

    <!--JSファイル群-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>