.contents {
	background-color: #FFFFFF;
}

/* マウスと重なる時 */
.contents:hover{
	background-color: #F5F5F5;
}

/* 親クラス全体をリンクにする */
.link{
	display: block;
	position: absolute;
	width: 100%;
    height: 100%;
}
